.heading {
    width: 100%;
    font-size: 23px;
    margin: 0px;
}

.note {
    color: black;
    font-size: 18px;
}

.div_speed {
    float: left;
}

.div_speed_img,
.div_volume_img {
    width: 200px;
    border-radius: 100px;
}

.div_volume {
    float: right;
}

#volume,
#speed {
    font-size: 23px;
    margin: 15px;
    color: blue;
}

body {
    background-size: cover;
}

.play_button {
    width: 130px;
    font-size: 25px;
}

canvas {
    border: 10px white dashed;
    box-shadow: 5px 5px 30px black;
    border-radius: 20px;
}